<?xml version="1.0"?>
<!--
/**
* SpicePay module dependency
*
* @category    SpicePay
* @package     SpicePay_Merchant
* @author      SpicePay
* @copyright   SpicePay (https://spicepay.com)
* @license     https://github.com/spicepay/magento2-plugin/blob/master/LICENSE The MIT License (MIT)
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="SpicePay_Merchant" setup_version="1.0.6">
      <sequence>
          <module name="Magento_Sales"/>
          <module name="Magento_Quote"/>
          <module name="Magento_Checkout"/>
      </sequence>
    </module>
</config>
